name: Deploy to GitHub Pages

on:
    push:
        branches: "main"

jobs:
    build_site:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Install Bun
              uses: oven-sh/setup-bun@v2

            - name: Install dependencies
              run: bun i

            - name: build
              env:
                  BASE_PATH: "/${{ github.event.repository.name }}"
                  PUB_HOSTNAME: ""
                  PUB_PLAUSIBLE_URL: ""
                  PUB_ENV: "production"
                  PUB_VERTD_URL: "https://vertd.vert.sh"
                  PUB_DISABLE_ALL_EXTERNAL_REQUESTS: "false"
                  PUB_DISABLE_FAILURE_BLOCKS: "false"
                  PUB_DONATION_URL: "https://donations.vert.sh"
                  PUB_STRIPE_KEY: "pk_live_51RDVmAGSxPVad6bQwzVNnbc28nlmzA30krLWk1fefCMpUPiSRPkavMMbGqa8A3lUaOCMlsUEVy2CWDYg0ip3aPpL00ZJlsMkf2"
              run: bun run build

            - name: Upload Artifacts
              uses: actions/upload-pages-artifact@v3
              with:
                  path: "build/"

    deploy:
        needs: build_site
        runs-on: ubuntu-latest

        permissions:
            pages: write
            id-token: write

        environment:
            name: github-pages
            url: ${{ steps.deployment.outputs.page_url }}

        steps:
            - name: Deploy
              id: deployment
              uses: actions/deploy-pages@v4
